university/*
tests/*.exr
/src/imgs
*.exr
*.png
*.ass
*.pyc
release/
debug/
.build/
src/buildflags.txt
arnoldCamera.pro
zoic.dylib
tests/*
tests/arnold/*
tests/images/*
tests/lens_designs/*
tests/maya/*
Sconstruct
excons/

build/*
s_kallweit/*

tests/images/testScene_distance.exr

tests/images/testScene_spheres.exr